*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body{
    height: 1300px;
}
body{
    background-image: linear-gradient( 135deg, #FFF886 10%, #F072B6 100%);
}
header{
    display: flex;
    position: sticky;
    z-index: 5;
    top: 0;
}
.container-fluid{
    display: flex;
    width: 100%;
    height: 90px;
    box-shadow: 0 2px 10px -5px;
    flex-flow: column nowrap;
    justify-content: space-between;
   
}

.container-title{
    width: 100px;
    display: flex;
    align-self: center;
   
}
.container-title h1{
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    background: -webkit-linear-gradient(rgba(36, 10, 234, 0.707),rgb(246, 5, 117));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   margin-left: 10px;
    

    
}
.container-title span{
    font-size: 29px;
    font-family: 'Lato', sans-serif;
    background: -webkit-linear-gradient(rgba(36, 10, 234, 0.707),rgb(246, 5, 117) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.nav{
    align-self: flex-end;
    position: relative;
    top: 0;
    width: 100%;
}

.nav_items{
   
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}
.nav_items li a{
    color: black;
    border-bottom: 1px solid rgb(21, 162, 232);
    background: -webkit-linear-gradient(rgba(36, 10, 234, 0.707),rgb(246, 5, 117) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration:none;
}
#img_main{
    width: 240px;
   position: relative;
   bottom: 20px;
}
.div-img{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.div-img h2{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    background: -webkit-linear-gradient(rgba(36, 10, 234, 0.707),rgb(246, 5, 117) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    
}
.container-apps{
    display: flex;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-apps img{
    width: 100px;
}
.container-apps h3{
    font-size: 15px;
    background: -webkit-linear-gradient(rgba(36, 10, 234, 0.707),rgb(246, 5, 117));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.section-1{
    width: 100%;
    height: 350px;
    box-shadow: 0 2px 10px -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.section-1 img{
    width: 300px;
    height: 200px;
   
}
.section-1 p{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    background: -webkit-linear-gradient(rgba(36, 10, 234, 0.707),rgb(246, 5, 117));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

}
.section-1 input[type="button"]{
    padding: 10px;
    background: linear-gradient(rgba(36, 10, 234, 0.707),rgb(246, 5, 117));
    border: 0;
    border-radius: 20px;
}
.section-2{
    width: 100%;
    height: 350px;
    box-shadow: 0 2px 10px -5px;
    display: flex;
    flex-direction: column;
   align-items: center;
  
}
.section-2 img{
    width: 300px;
    height: 200px;
   
}
.section-2 h5{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: center;
}
.section-2 p{
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
footer{
    /* background-color:#f5a2a5; */
    background-image: linear-gradient( 20deg, #FFF886 10%, #F072B6 100%);
    height: 400px;
    
}
.footer-titles h6{
    font-size: 20px;
    border-bottom: 1px solid rgb(21, 162, 232);
    background: -webkit-linear-gradient(rgba(36, 10, 234, 0.707),rgb(246, 5, 117) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-titles span{
    background: -webkit-linear-gradient(rgba(36, 10, 234, 0.707),rgb(246, 5, 117) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer-titles img{
    width: 60px;
    height: 50px;
}
.div-service{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.div-service h2{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    background: -webkit-linear-gradient(rgba(36, 10, 234, 0.707),rgb(246, 5, 117) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    
    
}
.text-dect{
    font-size: 20px;
    border-bottom: 1px solid rgb(21, 162, 232);
    background: -webkit-linear-gradient(rgba(36, 10, 234, 0.707),rgb(246, 5, 117) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service p{
    /* background: -webkit-linear-gradient(rgba(36, 10, 234, 0.707),rgb(246, 5, 117) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: black;
    font-weight: bold;
}
.mapa iframe{
     width: 370px;
}
@media (min-width: 768px) {
   html, body{
    height: 1600px;
   }
   .div-img{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
   }
   .div-img h2{
    font-size: 30px;
   }
   #img_main{
    width: 500px;
    }
    .container-apps{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container-apps h3{
        font-size: 20px;
    }
    .container-apps img{
        width: 200px;
        height: 70px;
    }
   .section-1{
    width: 100%;
    height: 470px;
    box-shadow: none;
    flex-direction: row-reverse;
    display:flex;  
    justify-content: start;
    
    
    
   }
   .section-1 img{
    width: 500px;
    height: 500px;
    }
    .section-1 p{
        font-size: 20px;
        align-self: flex-start;
        text-align: left;
    }
    .button-container{
        align-self: end;
        justify-self: center;
        position: relative;
        left: 220px;
       bottom: 120px;
    }
    .section-1 input[type="button"]:hover{
        padding: 15px;
       }
       .service{
        margin-top: 150px;
       }
       .mapa iframe{
        width: 100%;
       }
  }